@inherits LayoutComponentBase
@using BlazorPWA2.Components.Navigation
@using BlazorPWA2.Components;
@using BlazorPWA2.Model;

<div class="main-page">
    <AppBar Title="BlazorPWA" />
    <div class="page-body">
        @Body
    </div>

    <BlazorPWA2.Components.Navigation.NavigationBar />
</div>
