@inherits LayoutComponentBase
@using BlazorPWA2.Components.Navigation

<div class="page">
    <AppBar Title="BlazorPWA" />
    <div class="page-body">
        @Body
    </div>
            
   
    <BlazorPWA2.Components.Navigation.NavigationBar />
</div>

    <Modal IsServiceModal="true" UseStaticBackdrop="true" />
@*<div class="main-page">


<div class="page">
    
</div>


</div>*@
