@inherits LayoutComponentBase
@using BlazorPWA2.Components.Navigation
@using BlazorPWA2.Components;
@using BlazorPWA2.Model;

<div class="main-page">
    <AppBar Title="BlazorPWA" />
    <div class="page-body">
        <div class="page-body-content">
            <div class="fcmContainer">
                <button id="fcmButton" class="fcmButton" type="button" >Enable push notifications</button>
            </div>
            @Body
        </div>
    </div>

    <BlazorPWA2.Components.Navigation.NavigationBar />
</div>
