@inherits LayoutComponentBase
@using BlazorPWA2.Components.Navigation

<AppBar Title="BlazorPWA" />

<div class="page">
    <div class="main">
        @Body
    </div>
    <BlazorPWA2.Components.Navigation.NavigationBar />
</div>

<Modal IsServiceModal="true" UseStaticBackdrop="true" />