@inherits LayoutComponentBase
@using BlazorPWA2.Components.Navigation
@using BlazorPWA2.Components;
@using BlazorPWA2.Model;

<div class="main-page">
    <AppBar Title="BlazorPWA" />
    <div class="page-body">
        <div class="page-body-content">
            @Body
        </div>
    </div>

    <BlazorPWA2.Components.Navigation.NavigationBar />
</div>
