@page "/contacts/edit"
@inherits BaseComponent
@using BlazorPWA2.Components.Input
@using BlazorPWA2.Components.Navigation


    <div class="d-grid grid-container-4 gap-2">
        <div class="form-floating">
            <input type="text" id="firstname" class="form-control" title="Vorname" placeholder="Vorname"
                @bind="@contact.FirstName" />
            <label for="firstname">Vorname</label>
        </div>
        <div class="form-floating">
            <input type="text" id="lastname" class="form-control" title="Nachname" placeholder="Nachname"
                @bind="@contact.LastName" />
            <label for="lastname">Nachname</label>
        </div>
        <div class="form-floating">
            <input type="text" id="alias" class="form-control" title="Alias" placeholder="Alias"
                @bind="@contact.Alias" />
            <label for="alias">Alias</label>
        </div>
        <div class="form-floating">
            <input type="date" id="birthday" class="form-control" title="Geburtstag" placeholder="Geburtstag"
                @bind="@contact.Birthday" />
            <label for="birthday">Geburtstag</label>
        </div>

    </div>

    <button type="button" class="btn btn-save" title="Speichern" @onclick="Save">Speichern</button>

