
.component-content[b-6h7vlok1iv] {
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 96%), url(/pictures/winter.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
       
}
