@page "/settings"

<h1>Settings</h1>

<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" @onchange="SwitchThemes" id="theme-switcher">
    <label for="theme-switcher">Switch Theme</label>
</div>
