<div class="appbar">
    <div>
        @if (canNavBack)
        {
            <a @onclick="GoBack"><img src="/icons/back.svg" class="icon" /></a>
        }
    </div>
    <div class="d-flex justify-content-center align-items-center">
        @Title
    </div>
    <div></div>
</div>