.appbar {
    width: 100vw;
    height: calc(env(safe-area-inset-top) + 50px);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: env(safe-area-inset-top);
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(44, 45, 45, .3);
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5em);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}