.nav-bar {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    height: calc(env(safe-area-inset-bottom) + 60px);
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    background-color: rgba(44, 45, 45, .3);
    backdrop-filter: blur(.5rem);
    -webkit-backdrop-filter: blur(.5rem);
    justify-content: space-around;
    align-items: center;
    align-self: end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nav-bar-icon {
    width: 25px;
    height: 25px;
    filter: invert(32%) sepia(8%) saturate(848%) hue-rotate(208deg) brightness(90%) contrast(91%);
}

.nav-bar-icon-selected {
    filter: invert(38%) sepia(5%) saturate(3273%) hue-rotate(202deg) brightness(93%) contrast(81%);
}