<div>
    <span>Sind Sie sicher, dass Sie den Kontakt löschen möchten?</span>
    <button type="button" class="btn btn-save" @onclick="Ok">Ja</button>
    <button type="button" class="btn btn-red" @onclick="Cancel">Nein</button>
</div>